.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}

.header, .footer{
    background-color: #1f2937;
    color: white;

}
ul{
    list-style: none;
    display: flex;
    gap: 4px;
}